
{% extends 'base.html' %}
{% load static %}

{% block contenido %}

{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="text-center">
      <img src="{% static 'imagenes/contacto_imagen.jpg' %}" alt="Clínica Dental" style="max-width: 600px;">
    </div>
    <h2 class="mt-4">Formulario de Contacto</h2>
    <!--se cambio contacto por formulario de contacto-->>

    <h1 style="color:red"> {{mensaje}} </h1>
    <form id="formularioContacto" method="POST" action="">
      {% csrf_token %}
      {{ miForm | crispy }}  

      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>


  {% endblock %}